#!/usr/bin/make -f

DESTDIR = debian/buildbot
DOCDIR = /usr/share/doc/buildbot

export VERSION = $(shell python -c 'from buildbot import version ; print version')
DATE = $(shell date -R)

# Set full name and email for a package maintainer if not explicitly available
# from environment variables
DEBFULLNAME ?= "Dustin J. Mitchell"
DEBEMAIL ?= "dustin@v.igoro.us"

%:
	dh $@ --with python2

make_docs:
	$(MAKE) -C docs buildbot.info buildbot.html

override_dh_auto_build: make_docs
	dh_auto_build --buildsystem=python_distutils

override_dh_auto_clean:
	git clean -fdx .
	sed -e "s/VERSION/${VERSION}/" \
		-e "s/DEBFULLNAME/${DEBFULLNAME}/" \
		-e "s/DEBEMAIL/${DEBEMAIL}/" \
		-e "s/DATE/${DATE}/" \
		debian/changelog.template > debian/changelog
	rm -fR buildbot.egg-info _trial_temp
	rm -f docs/buildbot.info* docs/buildbot.html
	dh_auto_clean --buildsystem=python_distutils

override_dh_auto_test:
ifneq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	@echo "Skipping check (disabled in DEB_BUILD_OPTIONS)."
else
	python setup.py test
endif

override_dh_installinit:
	mkdir -p ${DESTDIR}/etc/init.d ${DESTDIR}/etc/default
	cp contrib/init-scripts/buildmaster.init.sh ${DESTDIR}/etc/init.d/buildmaster
	cp contrib/init-scripts/buildmaster.default ${DESTDIR}/etc/default/buildmaster
	dh_installinit --name=buildmaster --onlyscripts

override_dh_installdocs:
	dh_installdocs
	# Copy necessary images to docs directory
	mkdir -p ${DESTDIR}${DOCDIR}/images
	cp docs/images/*.png ${DESTDIR}${DOCDIR}/images
