#!/usr/bin/make -f

DESTDIR = debian/buildbot-slave
export VERSION = $(shell python -c 'from buildslave import version ; print version')
DATE = $(shell date -R)

# Set full name and email for a package maintainer if not explicitly available
# from environment variables
ifndef DEBFULLNAME
	DEBFULLNAME = "Dustin J. Mitchell"
endif

ifndef DEBEMAIL
	DEBEMAIL = "dustin@v.igoro.us"
endif

%:
	dh $@ --with python2

generate_changelog:
	sed -e "s/VERSION/${VERSION}/" \
		-e "s/DEBFULLNAME/${DEBFULLNAME}/" \
		-e "s/DEBEMAIL/${DEBEMAIL}/" \
		-e "s/DATE/${DATE}/" \
		debian/changelog.template > debian/changelog

override_dh_auto_build: generate_changelog
	dh_auto_build --buildsystem=python_distutils

override_dh_auto_clean: generate_changelog
	rm -fR buildbot_slave.egg-info
	dh_auto_clean --buildsystem=python_distutils

override_dh_auto_test:
ifneq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	@echo "Skipping check (disabled in DEB_BUILD_OPTIONS)."
else
	python setup.py test
endif

override_dh_installinit:
	mkdir -p ${DESTDIR}/etc/init.d ${DESTDIR}/etc/default
	cp contrib/init-scripts/buildslave.init.sh ${DESTDIR}/etc/init.d/buildslave
	cp contrib/init-scripts/buildslave.default ${DESTDIR}/etc/default/buildslave
	dh_installinit --name=buildslave --onlyscripts
